<mat-card class="mat-elevation-z9">

    <mat-card-title class="title">Cadastre um administrador</mat-card-title>

    <form class="example-form">
        <mat-form-field style="width: 100%;">
        <input matInput placeholder="Nome" [(ngModel)]="adm.nome" name="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" [(ngModel)]="adm.email" name="email">
            <mat-hint>Sem erros</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Coloque um email valido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email <strong>obrigatorio</strong>
            </mat-error>
        </mat-form-field>
    </form>


    <div class="example-container">
        <mat-form-field appearance="fill" class="form">
            <mat-label>senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="adm.senha" name="senha">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

</mat-card>



<button mat-raised-button class="button" color="primary" (click)="cadastro()">Cadastrar adm</button>