
  mat-card{

    margin-left: 300px;
    margin-top: 150px;
    width: 50%;


  }

.title{

  text-align: center;
  font-family: cursive;


}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;

  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container{

    margin-left: 100px;
    margin-top: 20px;

  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
   
  }
  
  .example-right-align {
    text-align: right; 
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
    
  }


  .form{

    width: 50%;

  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.button{

  margin-left: 400px;
  margin-top: 20px;

}