
<p style="margin-top: 64px;">
    <mat-toolbar color='primary'>
      <span>
  
        <h1 class="title">Editar dados do Aluno</h1>
  
      </span>
    </mat-toolbar>
  </p>
  



<mat-card *ngIf='usuarios' class="mat-elevation-z9">

    <mat-card-title>Aluno</mat-card-title>
    
    <form >
    
    <mat-form-field>
    
    <input matInput placeholder="Nome"  
    
    [(ngModel)]= "usuarios.nome" name="nome">
    
    </mat-form-field>
    
    <mat-form-field>
    
    <input matInput placeholder="cpf"
    
    [(ngModel)]= "usuarios.cpf" name="cpf">
    
    </mat-form-field>

    <mat-form-field>
    
        <input matInput placeholder="data_nascimento"
        
        [(ngModel)]= "usuarios.data_nascimento" name="data_nascimento">
        
        </mat-form-field>
    
    
    
    </form>
    
    </mat-card>
    
    
    
    
    <button mat-raised-button (click)="editUsuario()" style="margin-left: 300px; margin-top: 30px;"
     color="primary">
    
    Atualizar
    
    </button>
    
    
    <button mat-raised-button routerLink="/pagadm"  style="margin-left: 20px; 
    margin-top: 30px;" color= "warn">
    
        Cancelar
        
    </button>
        
