
.title{

    margin-left: 500px;

}


mat-card{

    margin-left: 300px;
    margin-top: 40px;
    width: 50%;

}

form {

    display: flex;
    flex-direction: column;

    width: 80%;
    
    
    }
    
    
    