<mat-toolbar class="footer" color= "primary">

    <span>

        Academia
    <a href="http://localhost:4002/" target="_blank" style="margin-top: 20px;">
        <i>
            <img src="/assets/footer/icon.svg" width="30px" height="30px">
        </i>
    </a>
        BodyStronda

</span>
    
    
    