.footer{
   
   height: 80px;
    bottom: 0;  
    display: flex;
    justify-content: center;
    
    }
    
    
    
    .footer > span{
    
        font: italic;
        font-size: 1rem;
        font-weight: 300;
    
    
    
    
    
    }
    