
<p style="margin-top: 64px;">
    <mat-toolbar color='primary'>
      <span>
  
        <h1 class="title">Bem vindo {{service.getadmDados().nome}}</h1>
  
      </span>
    </mat-toolbar>
  </p>


<h3>Alunos cadastrados</h3>


<div>

    <app-table></app-table> 
    
</div>

