<p style="margin-top: 64px;">
  <mat-toolbar color='primary'>
    <span>

      <h1 class="title">Olá {{service.getadmDados().nome}} aqui você verá seus dados cadastrados</h1>

    </span>
  </mat-toolbar>
</p>


<mat-card class="mat-elevation-z9">

  <mat-card-title>Administrador</mat-card-title>

  <form>

    <mat-form-field>

      <mat-icon>account_circle</mat-icon>
      <input matInput placeholder="Nome" [value]="service.getadmDados().nome" name="nome" disabled>


    </mat-form-field>

    <mat-form-field>

      <mat-icon>email</mat-icon>
      <input matInput placeholder="Email" [value]="service.getadmDados().email" name="nome" disabled>


    </mat-form-field>

  </form>

</mat-card>

<button mat-raised-button routerLink="/pagadm" style="margin-left: 100px; 
    margin-top: 30px;" color="primary">

  Voltar

</button>

<button mat-raised-button href="/" style="margin-left: 20px; 
    margin-top: 30px;" color="warn">

  Sair

</button>



<mat-toolbar class="mat-elevation-z9" id="new">
  <mat-toolbar-row>
    <span>
      <h2>Cadastre um novo administrador</h2>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>

    <button mat-raised-button routerLink="/cadastro/adm" style="margin-left: 20px;">Cadastrar um administrador</button>
  </mat-toolbar-row>
</mat-toolbar>