

.title{

    margin-left: 395px;


}

mat-card{

    margin-left: 90px;
    margin-top: 40px;
    width: 30%;
    height: 40%;

}

form {

    display: flex;
    flex-direction: column;

    width: 80%;
    
    
    }

    #new{

        width: 30%;
        margin-left: 800px; 
        margin-top: -60px; 
        background-color: #03DAC6;
    
    }


    
    