
.title{

    margin-left: 10px;

}

.example-spacer {
    flex: 1 1 auto;
  }


  .favorite-icon{

    margin-right: 10px;

  }

.mat-elevation-z20 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
    0 6px 10px 0 rgba(0,0,0,.14),
     0 1px 18px 0 rgba(0,0,0,.12);

     position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}




  