<mat-toolbar color="primary" class="mat-elevation-z20">
  <a href="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </a>



  <a href="/">
    <span><img src="/assets/logo/logo.png" width="200px" height="130px"></span>
  </a>
  
  <button mat-raised-button routerLink="/pagadm" style="margin-left: 30px;">Alunos</button>

  <span class="example-spacer"></span>
  <a routerLink="{{router}}" style="color: white; margin-right: 20px;">

    <mat-icon>{{icon}}</mat-icon>
  

  </a>

  

  <a href="/" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </a>
</mat-toolbar>