
<p style="margin-top: 64px;">
    <mat-toolbar color='primary'>
      <span>
  
        <h1 class="title">Excluir Aluno</h1>
  
      </span>
    </mat-toolbar>
  </p>



<mat-card *ngIf='usuarios' class="mat-elevation-z9">

    <mat-card-title>Aluno</mat-card-title>
    
    <form >
    
    <mat-form-field>
    
    <input matInput placeholder="Nome"  
    
    [value]= "usuarios.nome"  name="nome" disabled>
    
    </mat-form-field>
    
    <mat-form-field>
    
    <input matInput placeholder="cpf"
    
    [value]= "usuarios.cpf" name="cpf" disabled>
    
    </mat-form-field>

    <mat-form-field>
    
        <input matInput placeholder="data_nascimento"
        
        [value]= "usuarios.data_nascimento" name="data_nascimento" disabled>
        
        </mat-form-field>
    
    
    
    </form>
    
    </mat-card>
    
    
    <button mat-raised-button (click)="deleteUser()" style="margin-left: 300px; margin-top: 30px;"
     color="primary">
    
    Excluir
    
    </button>
    
    
    <button mat-raised-button routerLink="/pagadm"  style="margin-left: 20px; 
    margin-top: 30px;" color= "warn">
    
        Cancelar
        
    </button>
        
