

<div class="c-loader" style="margin-left: 600px;" *ngIf="loading"></div>
<p style="margin-left: 605px; margin-top: 10px;" *ngIf="loading">Loading...</p>


<div class="mat-elevation-z8" *ngIf="usuario" style="width: 1000px; margin-left: 150px;">
  <table mat-table [dataSource]="usuario.Usuarios" *ngIf= "usuario; else loading">
    <!-- Id Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>cpf</th>
      <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
    </ng-container>

    <ng-container matColumnDef="data_nascimento">
      <th mat-header-cell *matHeaderCellDef>data de nascimento</th>
      <td mat-cell *matCellDef="let row">{{row.data_nascimento}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef >Ações</th>
      <td mat-cell *matCellDef= "let row">

        <a routerLink="/usuario/edit/{{row.id_usuario}}">

          <i class="material-icons edit">

            edit

          </i>

        </a>

          <a routerLink="/usuario/delete/{{row.id_usuario}}">
          <i class="material-icons delete">

            delete


          </i>

        </a>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

</div>
